{% extends 'base_templates/base.html' %}

{% block content %}

    <h1>Veterinarias (servico 24hrs)</h1>
  <div class="list-group">
      <a href="#" class="list-group-item"> HOSPITAL MARLOVET:
        Flor de maria #20 Col.Atlamaya Álvaro Obregon CDMX Cp. 01730  Tel: 26751909</a>
      <a href="#" class="list-group-item active ">HOSPITAL CARSON DE MÉXICO: San  Andrés Tetepilco, iztapalapa, 09440 Ciuidad de Meéxico Tel: 54321676 </a>
      <a href="#" class="list-group-item ">Hospital Delta: Eje 1 Poniente Av. Cuauthemoc 754,Narvarte Poniente. Benito Juaréz,032020 Cuidad de México Tel: 56780324  </a>
      <a href="#" class="list-group-item active">Centro Veterinario México: Cincinnati #26 Cd.de los deportes, Benito Juaréz. 03710 Cuidad de México. Tel: 55984203  </a>
    </div>

{% endblock content %}
